.container {
  width:100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#nav-bar {
  text-align: left;
  background-color: rgba(150,150,255,1);
}

.contents {
  display: flex;
  justify-content: space-between;
  background-color: rgba(187,100,100,1);
}

.sidebar-left {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,1);
}

.main {
  background-color: rgba(100,100,187,1);
  flex: auto;
}

.sidebar-right {
  width: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgba(50,50,50,1);
}
